body{
    background-color: white;
}
.navbar{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    color: thistle;
}
